:root {
    --content-margin: 25px 50px;
}

body {
    background-color: #D0D0D6;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1 {
    margin: 0;
}

.header{
    background-color: #fff;
    text-align: left;
    padding: 15px;
    margin: 0;
    font-size: 24px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.13);
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.13);
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    padding: 15px 0;
    margin: 0;
    font-size: 8px;
    border-top: 4px solid rgba(0, 0, 0, 0.13);

}

#container {
    display: grid;
    grid-column: 1 / span 4;
    width: 75%;
    margin: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 10px;

}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(233, 233, 233);
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    color: #000;
    box-shadow: 1px 5px 5px #a2a2a3;
}

.card h2 {
    margin: 0;
    display: flex;
    width: 90%;
    font-size: 30px;
    text-decoration: underline;
}

.card h3 {
    margin: 0;
    display: flex;
    width: 100%;
}

.card p {
    font-size: 12px;
}

.card .delete {
    display: flex;
    background-image: url('/images/x-square.svg');
    width: 25px;
    height: 25px;
    transition-duration: .3s;
}

.card .delete:hover {
    scale: 1.1;
    background-color: red;
    border-radius: 5px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.363);
}

#addBook {
    float: right;
    margin: 0 auto;
}

#addBook button {
    border: 1px solid rgba(0, 0, 0, 0.349);
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
}

#addBook button:hover {
    scale: 1.01;
}

form {
    opacity: 0%;
    width: 35%;
    padding: 50px 0;
    margin: 0 auto;
    background-color: #717175;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    color: #EEEDF6;
    box-shadow: 1px 5px 5px #D4D3DB;
}

fieldset {
    margin: var(--content-margin);
    display: flex;
    border: none;
}

label {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 3px;
}

input {
    padding: 4px;
    margin-right: 30px;
    border: 1px solid rgba(117, 115, 115, 0.5);
    border-style: solid;
    outline-color: none;
    border-radius: 5px;
    transition-duration: .3s;
}

input:focus {
    outline-color: #34515B;
}

input:invalid {
    outline-color: #ff0000;
}

button {
    padding: 10px 30px;
    border: none;
    font-size: 1rem;
    margin: var(--content-margin);
    background-color: #34515B;
    color: white;
}

button:hover {
    background-color: #346d80;
    scale: 1.01;
}

.hidePage {
    display: none;
}